<div class="jumbotron">
    MeiHomePage
</div>
<div class="row">
    @using (Html.BeginForm("get_register_mobile_verification_code", "account", FormMethod.Get))
    {
        <label>手机号 </label>
        <input name="mobile" type="text" id="mobile" />
        <input type="submit" value="提获取验证码" />
    }
</div>
