<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://meihi.chinacloudsites.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>meihi.scm.chinacloudsites.cn:443</MSDeployServiceURL>
    <DeployIisAppPath>MeiHi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MeiHi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MeiHiEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=efrqqcwbme.database.chinacloudapi.cn,1433;Initial Catalog=MeiHi;Persist Security Info=True;User ID=test;Password=gyi88661@c" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=efrqqcwbme.database.chinacloudapi.cn,1433;Initial Catalog=MeiHi;Persist Security Info=True;User ID=test;Password=gyi88661@c;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MeiHiEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MeiHiAccess.csdl|res://*/MeiHiAccess.ssdl|res://*/MeiHiAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=efrqqcwbme.database.chinacloudapi.cn,1433;initial catalog=MeiHi;persist security info=True;user id=test;password=gyi88661@c;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MeiHiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MeiHiAccess.csdl|res://*/MeiHiAccess.ssdl|res://*/MeiHiAccess.msl;provider=System.Data.SqlClient;provider connection string="data source=efrqqcwbme.database.chinacloudapi.cn,1433;initial catalog=MeiHi;persist security info=True;user id=test;password=gyi88661@c;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>