@{
    ViewBag.Title = "美嗨后台管理系统";
}

<div class="jumbotron">
    这里是美嗨科技后台管理首页
</div>

<div class="row">
    <div class="col-md-4">
        包含5大功能模块<br />
    </div>
    <div class="col-md-4">
        权限管理模块<br />
        用户管理模块<br />
        店铺管理模块<br />
        广告管理模块<br />
        资金管理模块
    </div>
    <div class="col-md-4">
        美嗨后台管理系统
    </div>

    @*<form action="https://www.95epay.cn/sslpayment" method="post">
        <input type="hidden" name="MerNo" value="168885">
        <input type="hidden" name="Amount" value="100.01">
        <input type="hidden" name="BillNo" value="888888888888888">
        <input type="hidden" name="ReturnURL"
               value="http://mystore.com/PayResult">
        <input type="hidden" name="NotifyURL"
               value="http://mystore.com/NotifyResult">
        <input type="hidden" name="MD5info"
               value="6C71FDECABA3741134B0CC0DDBDB3877">
        <input type="hidden" name="PayType" value="CSPAY">
        <input type="hidden" name="PaymentType" value="ICBC">
        <input type="hidden" name="MerRemark" value="CustomData">
        <input type="hidden" name="products" value="IphoneNike">
        <p align="center">
            <input type="submit" name="b1"
                   value="95epay(Credit Card)">
        </p>
    </form>*@
</div>