@{
    ViewBag.Title = "美嗨后台管理系统";
}

<div class="jumbotron">
   这里是美嗨科技后台管理首页
</div>

<div class="row">
    <div class="col-md-4">
        包含5大功能模块
    </div>
    <div class="col-md-4">
        权限管理模块
        用户管理模块
        店铺管理模块
        广告管理模块
        资金管理模块
    </div>
    <div class="col-md-4">
        美嗨后台管理系统
    </div>
</div>