@{
    ViewBag.Title = "美嗨店主管理系统";
}

<div class="jumbotron">
    这里是美嗨店主管理系统
</div>

@Html.ActionLink("重置密码", "ResetShoperPassword", new { shopId = ViewBag.ShopId }) 

@using (Html.BeginForm("VerifyUserMeiHiCode", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <label>目前只有一个功能，验证用户美嗨券</label>
    <input name="code" id="code" value="" />
    <input type="submit" value="验证" />

    if (!string.IsNullOrEmpty(ViewBag.WelcomeMessage))
    {
        <label class="text-success">验证通过：@ViewBag.WelcomeMessage</label>
    }
    else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <label class="text-warning">验证失败：@ViewBag.ErrorMessage</label>
    }
}