@{
    ViewBag.Title = "CreateProductBrand";
}

<h2>上传产品品牌图片</h2>
<script type="text/javascript">
    //js 实现动态加减图片地址
</script>
<div id="body">
    <section class="main-content clear-fix">
        <form name="form1" method="post" enctype="multipart/form-data" action="Shop/upload_productbrand">
            <fieldset>
                <div id="divImages">
                    <label for="image1">图片地址</label>
                    <input id="image1" name="image1" type="file" />
                </div>
                <div>
                    <input type="button" value="增加" />
                </div>
                <div>
                    <input type="submit" value="提交" />
                </div>
            </fieldset>
        </form>
    </section>
</div>